.container {
  width: 2000px;
  background-color: #2b2d42;
  position: relative;
}

.container1 {
  position: relative;
  width: 2000px;
  background-color: #2b2d42;
  height: 800px;
  z-index: 100;
}

.buffer {
  position: relative;
  width: 2000px;
  background-color: #2b2d42;
  height: 300px;
  z-index: 100;
}


#graphic {
  padding-top: 60px;
  background-color: #2b2d42;
}


#sections {
  position: relative;
  display: inline-block;
  width: 450px;
  top: 0px;
  z-index: 90;
  padding-bottom: 200px;
  background-color: #2b2d42;
}

/*narrative*/
.step {
  margin-bottom: 200px;
  font-family: Saira Semi Condensed,"san-serif";
  font-size: 17px;
  line-height: 25px;
  color: #edf2f4;
  background-color: #2b2d42;
  text-align: justify;
}

/*Narrative title*/
.title {
  font-family: Saira Semi Condensed,"san-serif";
  font-size: 25px;
  margin-bottom: 2px;
  color: #ef233c;
  line-height: 1.2em;
  background-color: #2b2d42;
}


#extra-space {
  height: 300px;
  background-color: #2b2d42;
}

#vis {
  display: inline-block;
  position: fixed;
  top: 60px;
  z-index: 1;
  margin-left: 0;
  /* height: 600px; */
  /* width: 600px; */
  /* background-color: #ddd; */
}

/*Main title*/
#vis .title {
  font-size:80px;
  text-anchor: middle;
  font-family: Saira,"san-serif";
  fill:#edf2f4;
}

#map .building_polygon {
        fill: #ef233c;
        stroke: #fff;
        stroke-miterlimit: 10;
        stroke-width: 0.75px;
        opacity: 0.85;
}

#map .title{
  position: absolute;
  font-size:100px;
  text-anchor: middle;
  font-family: Saira,"san-serif";
  fill:#edf2f4;
}

#map .sub-title{
  position: absolute;
  font-size:30px;
  text-anchor: middle;
  font-family: Saira,"san-serif";
  fill:#ef233c;
}


#vis .sub-title {
  font-size:40px;
  text-anchor: middle;
  color:#edf2f4;
  font-family: Saira,"san-serif";
   fill:#ef233c;
}


#vis .quotes-title {
  font-size:22px;
  text-anchor: left;
  font-family: Saira,"san-serif";
  fill:#ef233c;
}

#vis .author-title {
  font-size:16px;
  text-anchor: left;
  font-family: Saira,"san-serif";
  fill:#ef233c;
}

#vis .start-title {
  font-size:80px;
  text-anchor: left;
  font-family: Saira,"san-serif";
  fill:#ef233c;
}



.x-axis path,
.x-axis line{
  fill: none;
  stroke: white;
  stroke-width: 1;

}

.y-axis path,
.y-axis line {
  fill: none;
  stroke: white;
  stroke-width: 1;
}


.y-axis text{
  fill: white;
  font-weight: 100;
}

.x-axis text{
  fill: white;
  font-weight: 100;
}

.highlight {
  fill: #ef233c;
  font-weight: bold;
}

.cough-arrow {
  stroke: #000;
  stroke-width: 4px;

}

/* tell the container's children to float left: */
.float-my-children > * {
    float:left;
    margin-right:8px;
}

/* this is called a clearfix. it makes sure that the container's children floats are cleared, without using extra markup */

.clearfix {
    *zoom:1 /* for IE */
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/* end clearfix*/


      